input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: #082A56;
    border-radius: 50%;
    cursor: pointer;
}