.Mainbody {
    font-family: sans-serif;    
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(10, 157, 183);
    width: 100%;
}

ul {
    list-style: none;
    text-align: left;
    padding: 0 10px;
}

li {
    margin: 10px 0px;
    vertical-align: middle;
}

input {
    margin-right: 10px;
}

